@import "tailwindcss";

@theme {
  --color-phenikaa-navy: #192c55;
  --color-phenikaa-navy-hover: #132242;
  --color-phenikaa-bg: #bfdbfe; 
  --color-phenikaa-accent: #f97316;
}

body {
  background-color: var(--color-phenikaa-bg);
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}
